<html>
<div class="container">
<br>
<h1 class="text-center"><u>Create an entry for a book</u></h1><br>
    <form method="POST"> {% csrf_token %}

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Book Name</i></label>
            <input type="text" class="form-control mt-2" name="bookname" placeholder="Enter Book's name" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Author</i></label>
            <input type="text" class="form-control mt-2" name="author" placeholder="Enter author's name" required>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary mt-4">Create</button>
</div>
</html>