<html>
<div class="p-4 bg-light">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-boldr" style="text-align:center">Welcome to Admin's Book Management System</h1>
    <div class="container">
  <div class="row">
    <div class="col-lg-6">
        <a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/admin_login/">Admin</a>
        <a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/signup/">Sign up</a>
    </div>
  </div>
  </div>
</div>
</html>
