<html>
<div class="container">
<br>
<h1 class="text-center"><u>Operations to be performed...</u></h1><br>
	<a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/create/">Create an entry</a>
	<a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/retrieve/">Retrieve Books</a>
	<a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/delete/">Delete a Book</a>
	<a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/update/">Update an entry</a>
	<br>
	<a class="nav-link active" aria-current="page" href="/logout/">Logout</a>
	<br>
</div>
</html>